* {
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
}

body {
  background-color: #FB6B6B;
  font-family: 'Recursive', sans-serif;
  /* font-family: 'Righteous', cursive; */
}

.welcome-screen {
  background-color: #FB6B6B;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  justify-content: space-between;
  align-items: center;
}

.welcome-screen div:first-child {
  height: 50vh;
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo img {
  width: 95px;
  height: 115px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Righteous', cursive;
  color: #FFFFFF;
  font-size: 50px;
  letter-spacing: -0.012em;
}

.welcome-screen button {
  background-color: #FFFFFF;
  border: 2px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 250px;
  height: 57px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #D70900;
}

.flashcards-screen {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.logo img {
  width: 52px;
  height: 60px;
  margin-right: 10px;
}

h2 {
  font-family: 'Righteous', cursive;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: -0.012em;
}

.flashcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 144px;
  width: 100%;
  max-width: 364px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  height: 76px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

.options p {
  font-family: 'Recursive', sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #333333;
  margin-left: 10px;
}

.options img {
  width: 23px;
  height: 34px;
  margin-right: 24px;
}

.flashcards-screen footer {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.flashcards-screen footer p {
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  text-align: center;
  width: 262px;
  text-align: center;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.flashcards-screen footer span {
  margin-bottom: 14px;
}

.selected-marks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.selected-marks img {
  width: 28px;
  height: 28px;
  margin: 0 3px;
  margin-bottom: 16px;
}

.result-text {
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.result-text strong {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}

.result-text img {
  width: 36px;
  height: 36px;
  margin-right: 14px;
}

.card-front {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #FFFFD5;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 28px;
}

.card-front p {
  position: absolute;
  top: 26px;
  left: 12px;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}

.card-front img {
  position: absolute;
  bottom: 14px;
  right: 16px;
  width: 40px;
  height: 23px;
}

.card-back {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  background-color: #FFFFD5;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 28px;
}

.card-back p {
  position: absolute;
  top: 26px;
  left: 12px;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}

.card-back div {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px 6px 8px;
}

.card-back button {
  width: 110px;
  height: 48px;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.bg-red {
  background-color: #FF3030;
}

.bg-orange {
  background-color: #FF922E;
}

.bg-green {
  background-color: #2FBE34;
}

.color-red p {
  color: #FF3030;
  text-decoration: line-through;
  font-weight: 400;
}

.color-orange p {
  color: #FF922E;
  text-decoration: line-through;
  font-weight: 400;
}

.color-green p {
  color: #2FBE34;
  text-decoration: line-through;
  font-weight: 400;
}

.selected img {
  width: 34.5px;
  height: 51px;
}





.hidden {
  display: none;
}